<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %> | Story App
  </title>
</head>

<body class="bg-light">
  <nav-bar></nav-bar>
  <main class="container d-flex flex-column align-items-center justify-content-center mt-5">
    <card-about></card-about>
  </main>
</body>

</html>