<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %> | Story App
  </title>
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-lg bg-primary shadow-lg mb-3 p-3" style="height: 70px">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <a class="navbar-brand text-light h2" href="/">Story App</a>
      <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
        <i class="bi bi-list"></i> MENU
      </button>
    </div>
  </nav>
  <div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Navigation Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="w-100 border border-1 border-primary rounded p-2 my-1">
        <a href="/" class="text-decoration-none h6">
          Dasboard
        </a>
      </div>
      <div class="w-100 border border-1 border-primary rounded p-2 my-1">
        <a href="/add.html" class="text-decoration-none h6">
          Add Story
        </a>
      </div>
      <div class="w-100 border border-1 border-primary rounded p-2 my-1">
        <a href="/about.html" class="text-decoration-none h6">
          About Us
        </a>
      </div>
    </div>
  </div>

  <main class="container d-flex flex-column align-items-center justify-content-center mt-5">
    <div class="mb-3 w-50">
      <form
        class="d-flex flex-column align-items-center justify-content-center w-100 mb-3 p-3 shadow rounded border border-1">
        <input class="form-control form-control-lg w-100 mb-3" type="text" placeholder="Your Name" id="name" />
        <input class="form-control form-control-lg w-100 mb-3" type="text" id="photoUrl"
          placeholder="Try 'nature', 'food', 'history', 'animal'..." />
        <textarea class="form-control form-control-lg w-100 mb-3" type="text" placeholder="Your story..."
          id="description" rows="10"></textarea>
        <button class="btn btn-outline-primary w-100" type="submit" id="edit">
          Edit
        </button>
        <button class="btn btn-outline-danger w-100" type="button" id="cancel">
          Cancel
        </button>
      </form>
    </div>
  </main>
</body>

</html>