<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %> | Story App
  </title>
</head>

<body class="bg-light">
  <nav-bar></nav-bar>
  <main class="container d-flex flex-column align-items-center justify-content-center mt-5">
    <div class="card mb-3 border border-0 shadow w-50 mx-auto">
      <add-story-button class="w-75 mx-auto"></add-story-button>
    </div>

    <div class="content"></div>
  </main>
  <footer-story-app></footer-story-app>
</body>

</html>